@media (max-width:992px){
    p{
        font-size:18px;
    }
}
@media (min-width:992px){
    .stress{
        font-weight: bold;
        font-size: 14px;
    }
    .small-text{
        font-size: 12px;

    }
}
@media (max-width:992px){
    .stress{
        font-weight: bold;
        font-size: 24px;
    }
    .small-text{
        font-size: 16px;

    }
}
@media (max-width:768px){
    .stress{
        font-weight: bold;
        font-size: 21px;
    }
    .small-text{
        font-size: 15px;

    }
}
/******NAV BAR**********/
#navbar-menu, #search-icon{
    float:left;
    margin:0;
}
.fa-search{
    color: black;
}
.navbar-brand:hover{
    color:white;
}
.navbar{
    padding: 5px 0px;
}
@media (min-width:992px){
    .navbar{
        background-color:#3467eb;
    }
    .navbar a{
        color: white;
    }
    .navbar .active{
        color: orange;
    } 
    #page-name{
        font-size: 22px;
    }
}
@media screen and (max-width:992px) and (min-width:768px){
    .navbar{
        background-color:#3467eb;
    }
    .navbar a{
        color: white;
    }
    .navbar .active{
        color: orange;
    }
    #page-name{
        font-size:26px;
    }
}
@media screen and (max-width:767px){
    .navbar{
        background-color:white;
    }
    #page-name{
        font-size:25px;
        font-weight: bold;
        color:dodgerblue
    }
    #search{
        display: none;
    }
}
/*****CONTENT*******/
.input-item{
    margin: 10px 0px;
}
.input-item input{
    border:1px solid #d4d4d4;
    padding: 7px 12px;
    border-radius: 5px;
}
textarea{
    float:left;
    border:1px solid #d4d4d4;
    padding: 7px 12px;
    border-radius: 5px;
}
@media (max-width:786px){
    .input-item{
        list-style-type: none;
        padding-left:0px;
    }
    form ul{
        padding-left: 0px;
    }
}
form button{
    margin-left:50%;
}
.map{
    margin-top:40px;
    width:100%;
    height:200px;
}
@media (min-width:992px){
    .align-center{
        margin-left:15%;
    }
}
/****FOOTER***/
.footer{
    background-color: black;
    width:100%;
}
.categorys-footer, .language-footer,.input-email-footer,.crevea-footer{
    color: #e0dfdc;
    float:left;
}
.footer-article ul{
    padding-left: 0px;
    list-style-type:none;
}

.footer-article input{
    color: white;
    background-color: black;
    font-size:11px;
    width:70%;
    padding: 5px;
    border:black;
    margin:0px;
}
.input-email-footer button{
    margin:0px;
    font-size: 10px;
    padding: 5px;
    color:black;
    float:right;
    width:30%;
    background-color: white;
    border:1px solid black;
    box-sizing: border-box;
}
.footer-article button:hover{
    background-color: blue;
    color: white;
}
.footer-article a{
    color: #e0dfdc;
}
.footer-article a:hover{
    color:#e0dfdc;
    
}
#underline-input{
    margin-top:2px;
    border: 1px solid #e0dfdc;
}
#hr-footer{
    color: #e0dfdc;
    clear:left;
    width: 100%;
    
}
#copy-rights{
    text-align: center;
    padding-bottom: 10px;
    color:#e0dfdc;
}
.fa-chevron-right{
    margin-right:5px;
}
@media (min-width:992px){
        footer .align-center{
        margin-left:23%;
    }
}